celery>=4.4.6
Django==2.2.8
django-extensions
djangorestframework==3.8.2
hiredis==0.2.0
pytz==2018.3
redis==2.10.6
pandas>=0.22.0
requests==2.24.0
integer>=1.0.3
finta>=0.4.4
numpy==1.18.0
virtualenv==20.0.26
tda-api==1.3.5
pandas_ta
yfinance
pyEX
yfoption
aiohttp